@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row" style="display: block;">
    @foreach (string line in Model.BusesInfo)
    {
        <div>@line</div>
    }
</div>
